/* 
    Document   : login
    Created on : May 14, 2013, 11:44:09 AM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
	background: #E6E6E9;
}