    /*size combobox imput */
    #btncombobox {
        width: 180px;
    }

/*	.ui-widget-header{
		background: #800020!important;
		color: #ffffff  !important;
	}*/
	
	#cloth_id{
		width:135px;
	}
/*	
	.ui-dialog .ui-dialog-content{
	 
		background: #dbe9ef !important;
	}*/
	#label_document{
		
		margin-top: 3px;
	}
	#document{
		border-radius: 5px;
		padding: 3px;
	}
	#number{
		border-radius: 5px;
		padding: 3px;
		text-align: left !important;
	}
	#label_name{
		margin-top: 3px;
		width: 146px !important;
	}
	#name{
		border-radius: 5px;
		padding: 3px;
	}
	#label_contac_name{
		margin-top: 3px;
		width: 120px !important;
	}
	#contact{
		border-radius: 5px;
		padding: 3px;
		width: 285px !important;
	}#label_address{
		margin-top: 3px;
		width: 135px !important;
	}
	#address{
		border-radius: 5px;
		padding: 3px;
	}
	#label_phone{
		margin-top: 3px;
		width: 120px !important;
	}
	#phone{
		border-radius: 5px;
		padding: 3px;
	}
	#label_date{
		margin-top: 3px;
		width: 120px !important;
	}
        #lbldate{
            margin-left: -8px;
        }
        
        #seller{
            border-radius: 5px;
            padding: 3px;
        }
        
	input[readonly="readonly"]{
		background-color: #CCCCCC;
	}
        
	#tools{
		margin-top: -10px;
	}
	#code_detail{
			border-left: solid 0.5px #aaaaaa;
	}
/*	#code_h{
		width: 110px !important;
	}
	#description_h{
		width: 300px;
	}
	#amount_h{
		width: 110px;
	}
	#unit_price_h{
		width: 110px;
	}
	#total_h{
		width: 110px;
	}*/
	
/*	.code{
		padding: 0px !important;
		width: 110px;
		
	}
	
	.description{
		padding: 0px !important;
		width: 300px;
	}
	.amount{
		padding: 0px !important;
		width: 110px;
	}
	.unit_price{
		padding: 0px !important;
		width: 110px;
	}
	.total{
		padding: 0px !important;
		width: 110px;
	}*/
	
	table thead tr{
		background: none !important;
	}
	table thead tr td{
		text-align: center;
		background: rgb(52,77,95) !important; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iIzM0NGQ1ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iIzFhMzU2MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzNkNGQ3MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);*/
		background: -moz-linear-gradient(top,  rgba(52,77,95,1) 2%, rgba(26,53,98,1) 98%, rgba(61,77,114,1) 99%) !important; /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(52,77,95,1)), color-stop(98%,rgba(26,53,98,1)), color-stop(99%,rgba(61,77,114,1))) !important; /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(52,77,95,1) 2%,rgba(26,53,98,1) 98%,rgba(61,77,114,1) 99%) !important; /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(52,77,95,1) 2%,rgba(26,53,98,1) 98%,rgba(61,77,114,1) 99%) !important; /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(52,77,95,1) 2%,rgba(26,53,98,1) 98%,rgba(61,77,114,1) 99%) !important; /* IE10+ */
		background: linear-gradient(to bottom,  rgba(52,77,95,1) 2%,rgba(26,53,98,1) 98%,rgba(61,77,114,1) 99%) !important; /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#344d5f', endColorstr='#3d4d72',GradientType=0 ) !important; /* IE6-8 */
		color: #FFFFFF;
		height: 20px;
	}
	
	#code_h{
		margin-bottom: 10px;
	}
	
	
	table tbody tr td, table thead tr th{
		border: none !important;
		padding: 0px !important;
		
	}
	th, td, caption{
		padding: 0px !important;
		text-align: center;
	}
	
	.description{
		width: 340px;
		height: 18px;
	}
	.amount{
		height: 18px;
	}
	.unit_price{
		height: 18px;
	}
	.total{
		height: 18px;
	}
	.code{
		width: 120px;
		height: 18px;
	}
	.delete{
		cursor: pointer;
		line-height: 0px;
	}
	
	#invoice_print_container{
		margin-top: 500px !important;
		
	}
	
	#div_file{
		background:	#FFFFFF;
		width: 917px;
	}
	
	td{
		background: #FFFFFF !important;
		margin-top: 3px;
	}
	
	@-moz-document url-prefix() {
   .code{
		width: 135px;
	}
	.description{
		width: 364px;
	}
	#div_file{
		width: 937px;
	}
	table{
		width: 910px;
	}
	.delete img{
		margin-left: 4px;
	}
}