/* 
    Document   : edit
    Created on : May 17, 2013, 10:27:07 AM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#btnLoad{
	margin-top: -5px;
}