/* 
    Document   : tags
    Created on : Jun 13, 2013, 11:44:27 AM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
#tag{
    clear: both;
    width: 134px;
    font-size: 8px;
    margin-bottom: 30px;
    float: left;
    margin-left: 10px;
    

}
#tag2{
    width: 133px;
    font-size: 8px;
    margin-bottom: 30px;
    /*margin-top: -108px;*/
    float: left;
    /*margin-left: 135px;*/
   
}
#tag3{
    width: 115px;
    font-size: 8px;
    margin-bottom: 30px;
    float: left;
    /*margin-bottom: 28px;*/
/*    margin-top: -110px;
    margin-left: 270px;*/
     /*-moz-transform: rotate(-90deg);*/
    /*clear: both;*/
}


#tagfybeca{
    clear: both;
    width: 134px;
    font-size: 8px;
    margin-bottom: 29px;
    float: left;
    margin-left: 10px;
    /*margin-top: -4px;*/

}
#tagfybeca2{
    width: 133px;
    font-size: 8px;
    margin-bottom: 29px;
    /*margin-top: -4px;*/
       float: left;
  
   
}
#tagfybeca3{
    width: 115px;
    font-size: 8px;
    margin-bottom: 29px;
    float: left;
    /*margin-top: -4px;*/
   }

#lol{
    clear: both;
}

.bcTargetu{
    overflow: no-display !important;
    margin-left: -8px;
}
#etiq{
    width: 370px;
    /*width: 100px;*/
    
}
#info{
    width: 115px;

}
#infofybeca{
    width: 115px;
/*margin-top: -6px;*/
}

#space{
    /*height: 57px !important;*/
}

#p_description{
    white-space: nowrap;
    font-weight: bold;
    font-family: 'Trebuchet MS' !important;
    font-size: 6pt !important;
}
#p_price{
    width: 90px;
    /*font-size: 8pt;*/
    /*word-spacing:*/ 
}
#p_pricefybeca{
     font-family: 'Trebuchet MS' !important;
    width: 90px;
    font-size: 8pt !important;
   font-weight: bold !important;
   margin-top: -2.7px;
}
#p_referencefybeca{
    font-size: 7pt !important;
    /*margin-top: -4px;*/
    margin-bottom: -3px;
}
#iva{
    width: 90px;
}
#total{
    width: 90px;
    font-weight: bold;
    /*font-size: 8pt;*/
}
#totalfybeca{
     font-family: 'Trebuchet MS' !important;
    width: 90px;
    font-weight: bold;
    font-size: 7pt !important;
margin-top: 0px;
}
#total_num{
    text-align: right;
    float: right;
    font-size: 14px;
    margin-top: -4px;
    font-weight: bold;
}
#total_numfybeca{
    text-align: right;
    float: right;
    font-size: 11px;
    margin-top: -2px;
    font-weight: bold;
    margin-right: -5px;
}
#unitprice_num{
    text-align: right;
    float: right;
}
#unitprice_numfybeca{
    text-align: right;
    float: right;
    margin-right: -12px;
}
#iva_num{
    text-align: right;
    float: right;
}