/* 
    Document   : upload
    Created on : May 10, 2013, 1:15:40 PM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.error{
	width: 480px;
}

.notice{
	width: 300px;
	margin-left: 75px;
}z